<!DOCTYPE html>
<html ng-app="helloPage">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
<link rel="shortcut icon" href="icon.png" type="image/png">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="TabController as tab">


<nav class="navbar  navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="glyphicon glyphicon-align-justify"></span>
      </button>
      <a href="#home" ng-click='tab.setTab(1)'>
        
        <img src="icon.png" width="50" height="50"/>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">        
        <li ><a ng-click='tab.setTab(2)'  href="#practic">Диалог в практике</a></li> 
        <li ><a ng-click='tab.setTab(3)'  href="#program">Программы</a></li> 
        <li ><a ng-click='tab.setTab(4)'  href="#tecnic">Техника диалога</a></li> 
        <li ><a ng-click='tab.setTab(5)'  href="#results">Результаты</a></li> 
        <li ><a ng-click='tab.setTab(6)'  href="#future">Перспективы</a></li> 
        <li ><a ng-click='tab.setTab(7)'  href="#needs">Запросы участников</a></li> 
        <li ><a ng-click='tab.setTab(8)'  href="#photo">Фото</a></li> 
        <li ><a ng-click='tab.setTab(9)'  href="#contacts">Обо мне</a></li> 
      </ul>
    </div>
  </div>
</nav>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">         
          <div class="modal-body">                
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

     </div>  

   <div class="container">
     
      <div id="home" ng-show='tab.isSet(1)' class='highlight' ng-controller="pageController as page">

      <div ng-repeat="startWords in page.startWords" class='col-lg-6' ng-attr-id="{{'startWords-'+$index}}">        
        <div class="comments" style='font-size:24px;'>
 <span class="glyphicon glyphicon-user" ng-attr-id="{{'icon-'+$index}}" style='opacity:1;'></span>
        {{startWords}}</div>
      </div>
               
        </div>   
       
        <ul id="photo"  ng-show='tab.isSet(8)' class='highlight' ng-controller="GalleryController as gallery">
          
           <div ng-repeat="imageGalary in gallery.imageGalary" class='animate-repeat'>
            <li class="col-lg-3 col-md-2 col-sm-3 col-xs-4" id="photoId">
             <img class="img-responsive" ng-src="{{imageGalary.image}}" />
            </li>
            </div>
        </ul> 

     <div id="practic" ng-show='tab.isSet(2)'   class='highlight' ng-controller="pageController as page"> 
<div col-lg-12>
       <h2 >Развиваться друг от друга, учиться друг от друга, созидать друг от друга.</h2>      
      <div  class="jumbotron" style="font-size:18;">       
          
<p>Вы работаете в организации с хорошо отлаженными вертикальными и горизонтальными связями, у вас достаточное бизнес-образование, доходы стабильные, ,соответствующая вашим ценностям корпоративная культура - вы уверены в завтрашнем дне ... и вдруг происходит нечто. Смена руководителя. Реорганизация компании. Разговоры о надвигающемся кризисе... Какая мысль мгновенно приходит к вам в голову? А что будет дальше? А вместе с вопросом и непонятно откуда вдруг возникшее тревожное состояние. 

<p>Какие для этого есть основания? Кто-то удалил из вашей памяти все знания и навыки вашего бизнес - образования? Вы в одночасье забыли как выстраивали систему продаж, проводили презентации и переговоры, как заключали выгодные контракты? 

<p>Вы по-прежнему владеете этими супер-знаниями и навыками.Вы оснащены инструментами регулярного менеджмента, тайм-менеджмента,тимбилдинга, вы можете управлять финансовыми потоками, выстраивать логистику. Почему-же возникли эти вопросы и тревожное состояние страха неопределенности будущего? 

<p>Потому, что все эти супер-программы - подарки в очень красивой упаковке для современного менеджера имеют прикладной характер. Все эти подарки как ящик Пандоры, каждый раз развязывая бантик никто не даст гарантии,что инструкция по его прямому применения будет соблюдена. 

<p>Самые талантливые идеи разбиваются в прах, только потому, что мы не можем или не хотим понять друг друга, мы друг друга не слышим. Мы оцениваем ситуации и людей в рамках уже полученного нами в прошлом опыта. В рабочих коммуникациях нам чаще важнее доказать свою точку зрения,свою правоту, чем воспринять и оценить мнение коллег и прийти к взаимовыгодному, но результату, полученному общими усилиями. В обсуждениях мы чаще всего думаем о собственных идеях , и как убедить другого принять эти идеи. Мы не используем конфликт как этап сближения,развития в группе, прояснения всех точек зрения. Мы инициируем конфликт как результат разности, несовместимости, агрессивности членов группы, выплеска эмоций. Мы не создаем необходимого уровня коммуникаций в рабочих группах и срываем задания,не завершаем проекты, теряем клиентов, поставщиков, становимся неконкурентноспособными. 

<p>Знания и передовой опыт менеджмента накладываются на платформу нашего с вами человеческого "мы-пространства"с развитой культурой Диалога. «Мы-пространство» имеет свои законы и принципы, свои причины " поломок". Но это не только платформа, " мы- пространство" в определенных своих качествах может быть серьезным самостоятельным ресурсом. 

<p>Качественное "мы-пространство" может отражать стрессовые ситуации внешней среды, создавать перспективы развития и роста изнутри,являться помощником в решении каждодневных рабочих ситуаций при условии взращения в нем культуры Диалога. 
    
       <blockquote>{{program.tags}}</blockquote>
      </div>
   </div>
   </div>
 

<div id="program" ng-show='tab.isSet(3)' class='highlight'  ng-controller="pageController as page">  
 <div class="col-lg-6">
 <h2>Программы</h2>
   <div class='jumbotron' style='height:390px;'>
     
      <p>Тренинг: Архитектоника Диалога как основа естественного дизайна организации- 8 академических часов
      <p>Фасилитационная сессия: Эмерджентный сплав команды 21-го века - 16 академических часов
      <p>Тренинг: Архитектоника Диалога как ресурс для самоорганизации компании - 24 академических часа
    </div>
 </div>      
     
   <div class="col-lg-6">  
   <h2>Целевая аудитория</h2>
<div class='jumbotron'>

      <p>Сотрудники всех уровней и областей, которым для эффективного решения бизнес-задач необходима качественная коммуникация

      <p>Проектирование треннинговых программ под конкретных людей с их реальными запросами в организациях со своей историей, организационными структурами, продуктами и клиентами
      </div>
</div>
      
        <h2 class="col-lg-12">Формы работы на тренинге</h2>

<div  ng-repeat="traningForms in page.traningForms" class='my-animation'>
<div class="col-lg-4">
        <h2 >{{traningForms}}</h2> 
  </div>
</div>
</div>



<div id="contacts" ng-show='tab.isSet(9)' class='highlight'  ng-controller="pageController as page">  
<h2 class="col-lg-12">Ольга Смирнова,бизнес-тренер,консультант.</h2>
      
<div class='jumbotron'>
<h2 class="col-lg-12">Образование:</h2>
<p>- Самарский педагогический институт, филологический факультет.
<p>- Владивостокский государственный университет экономики и сервиса, Директор по персоналу. 
<p>- Корпоративный университет АФК "Система", г.Москва.
<p>- Сертифицированный консультант SD-1.2 (личная сертификация Don Edward Beck), г.Москва.
<p>- Открытый тренерский университет Марка Кукушкина, г.Москва.

<h2 class="col-lg-12">Профессиональный опыт:</h2>
<p>- Опыт преподавательской деятельности.
<p>- ССБ ПВ РФ.
<p>- В кризисный 2008 год запустила два успешных розничных бизнес-проекта с "0";
<p>За 15 лет практической работы в бизнесе: от консультанта через управление продажами, ассортиментом, логистикой и персоналом до регионального управляющего.
</div>

        <h2 class="col-lg-12">Если Вас интересует какая-либо информация обо мне, либо интересует сотрудничество, Вы можете со мной связаться, воспользовавшись ниже приведенными способами:</h2>

        <h2 class="col-lg-6">Элетронная почта: olgvsmirnova@gmail.com</h2> 
        <h2 class="col-lg-6">Skype: olgvsmirnova</h2>
        <h2 class="col-lg-6">Facebook: olgvsmirnova</h2>
  </div>



<div id="results" ng-show='tab.isSet(5)' class='highlight' ng-controller="pageController as page">  

 <div class="col-lg-6">
 <h2 >Результаты для организации</h2>
   <div class='jumbotron'>
    
     <p>Создание эффекта синергии в группе 
     <p>Снижение риска демотивации
     <p>Повышение уровня персональной ответственности за общий результат 
     <p>Усиление самомотивации сотрудников 
     <p>Создание комфортных условий для обмена опытом и генерации идей 
     <p>Снижение ошибок, связанных с искажением и потерей информации 
     <p>Повышение уровня доверия, открытости, вовлеченнсти
    </div>
 </div>      
     
     
   <div class="col-lg-6">  
   <h2 >Результаты для участников</h2>
<div class='jumbotron'>

      <p>Грамотное выстраивание отношений в рабочем коллективе 
     <p>Преодоление взаимного непонимания 
     <p>Уверенное поведение в различных ситуациях общения
     <p>Предвидение и предотвращение конфликтных ситуаций 
     <p>Навык перехода от споров и дискуссий к взаимовыгодному сотрудничеству 
     <p>Развитие навыка "слышать" и "быть услышанным" 
     <p>Возможность сделать "движение к себе": открыть горизонты своего развития</p>
</div>
</div>
  </div>



<div id="needs" ng-show='tab.isSet(7)' class='highlight'  ng-controller="pageController as page">  
<h2 class="col-lg-12">Запросы участников программы</h2>

  <ul>          
           <div ng-repeat="comments in page.comments" class='my-animation'>
             <li class="col-lg-12" >
                         
             <div class='comments' id='comments-{{$index}}'> 
<span class="glyphicon glyphicon-user"></span>
             {{comments}}
             </div>
            </li>
           
           </div>
        </ul> 

  </div>



  <div id="tecnic" ng-show='tab.isSet(4)' class='highlight'  ng-controller="pageController as page">  
<h2>Программы тренингов направлены на
формирование у участников навыков ведения открытого конструктивного диалога на всех уровнях организации для эффективного решения бизнес-задач</h2>

   <div class="col-lg-6">
           <div ng-repeat="businesTasks in page.businesTasks" class='my-animation'>             
                         
             <div class='comments'> 
             {{businesTasks}}
             </div>            
           
           </div>
 </div>      
     
  <h2 class="col-lg-12">Техника диалога взаимодействует
c индивидуальными и коллективными</h2>   
   <div class="col-lg-4">  
           <div ng-repeat="businesParts in page.businesParts" class='comments'>
             
             {{businesParts}}
                      
           
           </div>
</div>

  </div>


   <div id="future" ng-show='tab.isSet(6)' class='highlight' ng-controller="pageController as page">

      <div ng-repeat="future in page.future" class='col-lg-4 col-ms-6' style="margin-top:35px;">        
        <div class="jumbotron">{{future}}</div>   
      </div>


</div>


</div> 



        
      </div>
    </div>
    </div>
  </body>
</html>
